html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  /* include your font family and default line-height */
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}


/* Default styling for all screens ends here */

/* Add media query for tablet */




/* Add media query for desktop */
