html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 1rem;
  line-height: 1.25;
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-size: 120%;
  margin: 0;
  padding: 0;
}

.logo {
  width: 400px;
  height: 100px;
}


img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;

}


header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

button {
  background-color: #fff;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

button a {
  color: #000;
  text-decoration: none;
}

button a:hover {
  background-color: #000;
  color: #fff;
  padding: .10em .30em;
  border-radius: 10px;
}

footer {
  text-align: center;
}

section .main-images {
  display: grid;
  grid-template-column: 1fr 1fr;
  grid-template-row: 1fr 1fr;
  gap: 1rem;
}

section h4 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-images {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  grid-template-areas:
    "image1 image1"
    "image2 image3"
  ;
}

#image1 {
  grid-area: image1;
}


.second-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  grid-template-areas:
    "image4 image5"
  ;
}

#image4 {
  grid-area: image4;
}

#image5 {
  grid-area: image5;
}

.about {
  padding: 2rem;
  display: grid;
  grid-template-areas:
  "dets1"
  "dets2"
  "dets3";
  gap: 2rem;
  padding: 4rem 0rem;
}

.description {
  grid-area: dets1
}

.detail-care {
  grid-area: dets2
}

.whats-included {
  grid-area: dets3
}

.also-browsed {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.bonical-name {
  padding: 4rem 0rem;
}

#h4-1 {
  grid-area: h4-1;
}

#h4-2{
  grid-area: h4-2;
}

#p-1 {
  grid-area: p-1;
}

#p-2 {
  grid-area: p-2;
}

.people-saying p {
  display: flex;
  padding: 1em;
}

.ppl-saying {
  text-align: center;
  padding:0;
  padding-top: 9rem;
}
/* Default styling for all screens ends here */

/* Add media query for tablet */
@media only screen and (min-width: 45em){

  .main-images {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "image1 image2 image3"
    ;}

 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.about {
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "dets1 dets1"
        "dets2 dets3";
      }

      .also-browsed {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 0;
}

.people-saying {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem:
}

.bonical-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "h4-1 h4-2"
  "p-1 p-2";
  gap: 1rem;
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;

}

}



/* Add media query for desktop */
@media only screen and (min-width: 75em) {
  .main-images {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "image1 images2"
      "image1 image3";
    ;}

    .about {
          padding-top: 5rem;
          display: grid;
          gap: 5rem;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-areas:
            "dets1 dets2 dets3";
          }
.bonical-name {
  padding:5rem 2rem 5rem 2rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



}
